@font-face {
    font-family: vazir;
    src: url(font/vazir/Vazir-Light.woff2) format(woff2);
    src: url(font/vazir/Vazir-Bold.woff2) format(woff2);
}
.h3{
    font-family: vazir;
    direction: rtl;
    text-align: center;
}